@import "constants";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.container {
  box-sizing: content-box;
  width: $boardSize;
  height: $boardSize;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 2px solid;
}

.tile {
  background-color: #fff;
  width: $tileSize;
  height: $tileSize;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  user-select: none;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
    background-color: #82fc86;
  }

  img {
    animation: jump;
    animation-duration: 0.3s;
    width: 60%;
    height: 60%;
  }
}

.title {
  font-family: "Barrio", cursive;
  font-size: 4em;
  margin-bottom: 10px;
}

.reset{
  border: 4px solid black;
  background-color: rgba(240, 240, 41, 0.911);
  margin: 10px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
  &:hover{
    transform: scale(1.2);

  }
}


.empty{
  background-color: black;
  animation-name: desv;
}

@keyframes jump {
  from {
    opacity: 0;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 60%;
  }
}

@keyframes desv {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}